<html>
<div class="container">
  <div class="row">
    <!--replace this forloop with @ items.each-->
    <% for i in 1..16 do%>
    <!--replace card stuff with product information-->
    <div class="col card l3 m4 s6">

      <div class="card-image waves-effect waves-block waves-light">
        <!--images from either host or lula roe site-->
        <img class="activator" src="https://static1.squarespace.com/static/51f9ef1ce4b0339e6c676011/t/5a58f6f224a694df3e2a1a07/1515779837356/PRODUCT-amyDETAILS.jpg">
      </div>

      <div class="card-content">
        <!--product name-->
        <span class="card-title activator grey-text text-darken-4">TEST TITLE<i class="material-icons right">more_vert</i></span>
        <!--link to product page-->
        <p><%= link_to 'LINKY', "https://static1.squarespace.com/static/51f9ef1ce4b0339e6c676011/t/5a58f6f224a694df3e2a1a07/1515779837356/PRODUCT-amyDETAILS.jpg"%></p>
      </div>

      <!--item description-->
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">TEST TITLE<i class="material-icons right">close</i></span>
        <p>image found on the lularoe website</p>
      </div>

    </div>

    <% end %>

  </div>
</div>
</html>
