<!DOCTYPE html>
<html>

<!--Banner goes here RAYMOND'S WORK-->

<div class="slider">
  <ul class="slides">
    <li>
      <img src="https://imgur.com/Kr9h4Ee.png" alt="">
      <div class="caption center-align">
        <h5 class="light grey-text text-lighten-3"></h5>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/580/250/nature/2" alt="">
      <div class="caption left-align">
        <h3>This is our tagline</h3>
        <h5 class="light grey-text text-lighten-3">Here is our slogan</h5>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/580/250/nature/3" alt="">
      <div class="caption right-align">
        <h3>This is our tagline</h3>
        <h5 class="light grey-text text-lighten-3">Here is our slogan</h5>
      </div>
    </li>
  </ul>
</div>

<div class="container">
  <div class="row">
    <!--replace this forloop with @ items.each-->
    <% Item.all.each do |thingy|%>
      <!--replace card stuff with product information-->
      <div class="col card l3 m4 s6">

        <div class="card-image waves-effect waves-block waves-light">
          <!--images from either host or lula roe site-->
          <img class="activator" src="https://static1.squarespace.com/static/51f9ef1ce4b0339e6c676011/t/5a58f6f224a694df3e2a1a07/1515779837356/PRODUCT-amyDETAILS.jpg">
        </div>

        <div class="card-content">
          <!--product name-->
          <span class="card-title activator grey-text text-darken-4">
            <%= thingy.name%>
            <i class="material-icons right">
              more_vert
            </i>
          </span>
          <!--link to product page-->
          <p>
            <%= link_to 'More', "https://static1.squarespace.com/static/51f9ef1ce4b0339e6c676011/t/5a58f6f224a694df3e2a1a07/1515779837356/PRODUCT-amyDETAILS.jpg"%>
          </p>
        </div>

        <!--item description-->
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <%= thingy.name%>
            <i class="material-icons right">
              close
            </i>
          </span>
          <p>
            <%= thingy.description%>
          </p>
        </div>

      </div>

    <% end %><!--end of for to display all items-->

  </div>
</div>
</html>
