<html>
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h4>
            Sam's LulaRoe site!
          </h4>
          <p>
            In here goes some great information!
          </p>
        </div>
        <div class="col l2 s6">
          <ul>
            <h4>Contact</h4>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Snapchat</li>
            <li>Email</li>
          </ul>
        </div>
        <div class="col l2 s6">
          <ul>
            <h4>Other links</h4>

            <li>LulaRoe</li>

          </ul>
        </div>
        <div class="col l2 s12">
          <ul>
          <h4>Made possible by</h4>
          <li>Brian Fonkert</li>
          <li>Raphael Baltazar</li>
          <li>Oscar Flores</li>
          <li>Trent Morgan</li>
          <li>Frank Martinez</li>
          <li>Raymond</li>
          </ul>
        </div>
      </div>
    </div>
  <div class="footer-copyright">
    <div class="container">
      2018 Copyright stuff

    </div>
  </div>
</footer>
</html>