<html>
<div class="footer">
  <footer>
    <h4>Made possible by</h4>
    <p>Brian Fonkert</p>
    <p>Raphael Baltazar</p>
    <p>Oscar Flores</p>
    <p>Trent Morgan</p>
    <p>Frank Martinez</p>
    <p>Raymond</p>
  </footer>
</div>
</html>