<html>
<header class="page-header">
  <nav>
    <div class="nav-wrapper">

      <%= link_to 'Sam\'s LulaRoe site', root_path, :class=>"brand-logo"%>

      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li>
          <form>

            <div class="hide-on-med-and-down input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="left material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>

          </form>
        </li>

        <li>
          <%= link_to root_path do%>
            Home
            <i class="small left material-icons">home</i>
          <% end %>
        </li>

        <li>
          <!--link to block form-->
          <%= link_to root_path do %>
            Cart
            <i class="small left material-icons">shopping_cart</i>
          <% end %>
        </li>

        <li>
          <%= render 'devise/menu/login_items'%>
        </li>

      </ul>

    </div>
  </nav>
</header>
</html>