<ul id="slide-out" class="side-nav hide-on-large-only">
  <li>
    <a href="#"><i class="material-icons">cloud</i> Link 1</a>
  </li>
  <li>
    <a href="#">Link 2</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a class="subheader" href="#">Subheaderr</a>
  </li>
  <li>
    <a class="waves-effect" href="#">Link 3</a>
  </li>
</ul>
